<h2>Search Companies</h2>
<form action="/companies" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% companies.forEach(company => { %>
    <div><%= company.name %></div>
    <a href="/companies/<%= company.id %>">View</a>
    <a href="/companies/<%= company.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/companies/${company.id}` }) %> 
<%  }) %>